
body{

	background-image: url('jasmin-chew-7AlAhgzoViY-unsplash (1).jpg');
	background-size: cover;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;

	
}

#h{
	height: 650px


}
#d2{
	background-color: #FF6347;
	width: 100%;
	height: 400px
	


}
#im2{
	width: 30%;
	height: 400px;
	margin-left:20px

	
}
#p1
{
	float: right


}
#d1{
	background-color: #808080;
	width: 100%;
	height: 400px
	padding:20px;
	font-size: 30px


}
#im1{
	width: 25%;
	height: 400px;
	float: right;
}
h1{
	color:  #ff4d4d


}
p{
	color: #FFFFFF
	
	

}

#h{
	text-align: center;
	text-decoration-color: #FFFFFF



}






https://meet.google.com/zfm-mozr-efm